[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-mail = "*"
flask-sqlalchemy = "*"
flask-jwt-extended = "*"
flask-migrate = "*"
python-dotenv = "*"
flask-cors = "*"
gunicorn = "*"
pytest = "*"

[dev-packages]

[requires]
python_version = "3.8"
